/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	text-decoration: none;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

.edit_banner {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	height: 59px;
	background-color: black;
	width: 100vw;
	margin-left: calc(-1 * ((100vw - 100%) / 2));
	color: white;
	gap: 20px;
}

.publish_btn {
	border-radius: 60px;
	padding: 11px 23px;
	font-weight: 700;
	cursor: pointer;
	background-color: white;
	color: black;
}

nav a {
	text-decoration: none;
	color: black;
}

.navHeader{
	width: 260px;
}

#login {
	margin: 0;
	font-size: 16px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	color:black;
	
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#portfolio .button-filter {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin: 51px auto;
	
}

#portfolio .button-filter button {
	height: 37px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	line-height: normal;
	justify-content: center;
	text-align: center;
	padding: 9px 10px;
	border-radius: 60px;
	border: 1px solid #1D6154;
	color: #1D6154;
	cursor: pointer;
	background-color: white;
	transition: all 0.4s ease;
}

#portfolio .button-filter button:hover {
	background-color: #1D6154;
	color: white;
	transform: scale(1.1);
}

#introduction .div_modifier {
	margin-top: 15px;
	margin-left: 10%;
}

.works_title {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 30px;
	margin-bottom: 1em;
	margin-top: 110px;
}

.div_modifier {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	padding-bottom: 20px;
}

.modifier {
	text-decoration: none;
	color: black;
}

.modal {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.modal_gallery {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border: 1px solid white;
	overflow: auto;
	border-radius: 10px;
	width: 500px;
	height: 97%;
}

.modal_works {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-row-gap: 12px;
	grid-column-gap: 8px;
	margin: 42px 104px;
}

.modal_works img {
	width: 100%;
}

.modal_works .figure {
	position: relative;
}

.trash{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 6px;
	right: 5px;
	color: white;
	background-color: black;
	border-radius: 2px;
	width: 17px;
	height: 17px;
	cursor: pointer;
}

.trash i{
	font-size: 11px;
}

.modal_works figcaption {
	font-size: 12px;
	font-weight: 400;
	margin-top: 2px;
}

.modal_add_photo {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border: 1px solid white;
	overflow: auto;
	border-radius: 10px;
	width: 500px;
	height: 97%;
	
}



.modal_close {
	position: absolute;
	top: 26px;
	right: 30px;
	font-size: 19px;
	cursor: pointer;
}

.modal_return {
	position: absolute;
	top: 26px;
	left: 30px;
	font-size: 21px;
	cursor: pointer;
}


#modal_title1,
#modal_title2 {
	font-family: 'Work Sans';
	color: black;
	font-weight: 400;
	margin-top: 60px;
	font-size: 26px;
}

hr {
	width: 420px;
	border-top: 1px solid #B3B3B3;
	margin-top: 20px;
}

.add_photo {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: #1D6154;
	width: 237px;
	height: 36px;
	text-align: center;
	border: none;
	border-radius: 60px;
	flex-wrap: nowrap;
	cursor: pointer;
}

.inner_add_photo {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Work Sans';
	padding: 10px 33px;
	font-weight: 500;
	font-size: 14px;
	color: #306685;
	background-color: #CBD6DC;
	border-radius: 50px;
	border: none;
	margin-top: 15px;
	margin-bottom: 7px;
	cursor: pointer;
}

.max_size {
	font-size: 10px;
	font-weight: 400;
	color: #444444;
}

.add_box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #E8F1F6;
	width: 420px;
	height: 169px;
	border-radius: 3px;
	margin-top: 36px;
}

#previewImg {
	max-height: 169px;
}

.preview_div {
	display: flex;
}

#validate {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 237px;
	height: 36px;
	text-align: center;
	border: none;
	border-radius: 60px;
	flex-wrap: nowrap;
	cursor: pointer;
}

#validate:disabled {
	background-color: #A7A7A7;
}



#validate {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 237px;
	height: 36px;
	text-align: center;
	border: none;
	border-radius: 60px;
	flex-wrap: nowrap;
	cursor: pointer;
}


.delete_gallery {
	text-decoration: none;
	color: #D65353;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Syne';
	margin-bottom: 48px;
}
.input-title-category{
	margin-bottom: 20px;
	text-align: center;
}

.input-title-category label{
	display: block;
	margin-bottom: 10px;
}

.input-title-category input, 
.input-title-category select{
	width: 65%;
	height: 51px;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
}

#category-option , #title {
	background-color: white;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 10px;
	margin: 10px;
	width: 95%;
}

label .title {
	display: flex;
}

.title {
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
}

#inner_add_button{
	display: none;
}

#validate {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 237px;
	text-align: center;
	border: none;
	border-radius: 60px;
	flex-wrap: nowrap;
	cursor: pointer;
}

.fa-image {

	font-size: 40px;
}

#messageErrorImage{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 4%;
}
#messageErrorTitle{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 4%;
}
#messageErrorId{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 4%;
}
.success-message{
	display: flex;
	align-items: center;
	justify-content: center;
	background: green;
	color: #FFFFFF;
	margin-bottom: 4%;
}
.delete-message{
	display: flex;
	align-items: center;
	justify-content: center;
	background: red;
	color: #FFFFFF;
	margin-bottom: 4%;
}

/*style login*/

#login {
	width:40%;
    margin: auto;
}

#login h2,.m-p {
	display: flex;
	justify-content: center;
}

#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#email, #password {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
	margin: 2em 0 1em 0;
}

#error-message {
	display: flex;
	justify-content: center;
  }

#contact {
    width: 50%;
    margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 32px auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	height: 40px;
}

.hidden {
	display: none;
}

.logged_margin {
	margin-bottom: 92px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
